{{$eventId := .Properties_EventId_Name}}{{with .Properties_RequestId}}[{{.}}] {{end}}{{with $eventId}}[{{.}}] {{end}}{{if eq $eventId "RequestFinished"}}[{{.Properties_Method}} {{.Properties_Path}} -> {{.Properties_StatusCode}}({{.Properties_ElapsedMilliseconds}})]{{else if eq $eventId "RequestStarting"}}[{{.Properties_Method}} {{.Properties_Path}}]{{else}}{{with .CurrentUserName}}[{{.CurrentUserName}}] {{end}}{{if .Properties_LinqToDbText}}{{.Properties_LinqToDbText}}{{else if .Properties_Exception}}{{.Properties_Exception}}{{else}}{{.MessageTemplate}}{{end}}{{end}}